/* Home的结构样式 */
.fa{
    font-size:20px;
    width:20px;
    height:20px;
}

/* 增加超出滚动 */
.Home{
    overflow: auto;
}

.Home-header{
    background-color:#f29004; 
    height: 44px;
    font-size: 15px;
    color: #fff;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Home-header-title{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 44px;
    font-size: 16px;
}

.Home-banner{
    height: 150px;
    background-image: url('../img/home-banner.png');
    background-position: 50% 50%;
    background-size: 100% auto;
}

.Home-lifefun{
    padding: 0 12px;
    height: 180px;
    justify-content: space-between;    
}

.Home-lifefun-itembox{
    float:left;
    width: 33.3%;
    height: 80px;
    display: flex;
    justify-content: stretch; 
}

.Home-lifefun-itembox:first-child{
    height: 160px;
    margin: 0;   
}

.Home-lifefun-itembox:nth-child(2), .Home-lifefun-itembox:nth-child(3){
    padding: 0 0 8px 0  
}

.Home-lifefun-item{    
    flex: 1;
    height: 100%;
    background-position: 0 90%;
    background-repeat: no-repeat;    
    background-size: auto 30%; 
    border-radius: 8px;  
    margin: 8px 0 0 8px; 
}

.Home-lifefun-itembox:first-child .Home-lifefun-item{
    background-size: 80% auto;
    margin: 8px 0 0 0;
    padding: 4px 0;
    background-position: 0 100%;
 }

 .Home-lifefun-itembox:last-child .Home-lifefun-item{
    background-size: 100% auto;    
 }

 .Home-lifefun-item h3{
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 8px 12px 0;
 }

 .Home-lifefun-item div{
    font-size: 12px;    
    padding: 0 12px;
 }
 
 .Home-lifefun-item h3, .Home-lifefun-item div{
    text-align: right;
 }

 .Home-lifefun-itembox:first-child h3, .Home-lifefun-itembox:first-child div{
    text-align: left;
 }


 /* Ad组件样式 Start*/

 .Home-ad{    
    display: flex;
    flex-direction: column;
    margin: 0 12px 12px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
 }
 .Home-ad img{
    height: 150px;
 }
 .Home-ad h3{
    flex-grow: 1;
    font-size: 15px;
    padding: 8px;
    margin: 0;
    text-align: left;
    background-color: #ffffff; 
 }

  /* Ad组件样式 End*/

 /* Area组件样式 Start*/

 .Home-area-title{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
 }

 .Home-area-title > i{
    flex: 1;   
    border-bottom: 1px solid #dbdbdb;    
 }

 .Home-area-title > span{
    padding: 0 12px;  
    color: #808080;
    font-size: 14px;
 }

  /* Area组件样式 End*/