.Home-bottom-tab{
    display: flex;
    flex-direction: row;   
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;   
    align-items: stretch;
    height: 49px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.Home-bottom-tab li{    
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: #808080;
    flex-basis: 20%;
}

.Home-bottom-tab li a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.Home-bottom-tab li a span{
    font-size: 12px;
}

.selected{
    color: #f29004;
    font-weight: bold;
}