

.Search-at{
    font-size: 15px;
    background-color: #e5e5e5; 
}

.Search-at h4{
    line-height: 32px;
    font-size: 14px;
    text-align: left;
    text-indent: 12px;
    background-color: #e5e5e5; 
}

.Search-at li , .Search-at .chosed-list{
    line-height: 44px;
    font-size: 14px;
    text-align: left;
    text-indent: 12px;
    background-color: #f2f2f2;    
}

.Search-at li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 0;
}


.Search-at .chosed{
    background-color: #ffffff; 
}

.Search-at .chosed-list{
    text-indent: 0
}

.dis{
    display: none;
}

.blo{
    display: block;
}

.present ul{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
}